/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    background-color: #ecddb0;
}

.title {
    font-size: 50px;
    text-align: center;
    margin: 20px;
    color: #59100b;
}

.fantasy {
   color: rgb(181, 43, 8);
}

.magia {
    color: rgb(26, 32, 197);
}

.adolescenziale{
    color: #e5b117;
}

.libri{
    color: #0ade9b;
}

footer {
    margin-top: 20px;
    padding: 30px;
    text-align: center;
    color: rgb(193, 118, 26);
    background-color: #59100b;
    position: relative;
    bottom: 0;
    left: 0;
}